/* styles/About.css */
#about {
    color: #fff;
    margin-top: 10px;
    border: 1px solid #33353F;
}
.container {
    padding: 8px;
}
.about-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.about-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.about-description {
    font-size: 1rem;
    line-height: 1.6;
}
.skills, .education {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.skills li, .education li {
    font-size: 0.875rem;
}
